doctype html
html
	head
		title= title
		//link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/slate.css')
		//link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
		nav(class='navbar navbar-default')
			div(class='collapse navbar-collapse' id='bs-example-navbar-collapse-1')
				ul(class='nav navbar-nav')
					li
						a(href='http://localhost:3001/central') Início
					li
						a(href='http://localhost:3001/sensors') Sensors
	body
		block content
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
		script(src='/javascripts/global.js')

